// --------------------------------
// - VARIABLES
// --------------------------------
// Example of how to manage your global variables

$bg-color: #ffffff;
$font-color: #333333;
$link-color: #B23813;
